{% extends "layout.html" %}
{% block css %}
{% endblock %}

{% block content %}
<h3>신규 등록</h3>
<div>
    <form id="twit-form" method="post" enctype="multipart/form-data">
        <legend>명산100 [북한산]</legend>
        <h5>지금 등록 가능한 인증지 입니다.</h5>
        <div class="input-group">
            <textarea id="twit" name="content" maxlength="140"></textarea>
        </div>
        <div class="img-preview">
            <img id="img-preview" src="" style="display: none" width="250" alt="미리보기" />
            <input id="img-url" type="hidden" name="url" />
            <div>
                <label id="img-label" for="img">사진 업로드</label>
                <input id="img" type="file" accept="image/*" /><br />
                <button id="twit-btn" type="submit" class="btn">사진 등록</button>
            </div>
            <p>인증지 평가</p>
            <!-- <div class="rating">
            <span class="stars" rate="1"></span>
            <span class="stars" rate="2"></span>
            <span class="stars" rate="3"></span>
            <span class="stars" rate="4"></span>
            <span class="stars" rate="5"></span>
          </div> -->
            <p>도전내용</p>
            <input id="img-url" type="text" name="url" placeholder="도전내용을 작성해주세요" /><br />100자 이내로 작성가능<br />

            <p>카테고리</p>
            <button id="twit-btn" type="submit" class="btn">인증하기</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}