  <header>
    <div id="header-container">
      <div id="header-logo"></div>
      <div id="header-menu-container">
        <p class="hello">
          <span class="hello-item">어서오세요 홍길동님</span>
          <span class="hello-item logout">[로그아웃]<i class="fas fa-sign-out-alt"></i></span>
        </p>
        <li class="nav">
          <ul class="nav-item">도전클럽</ul>
          <ul class="nav-item">100대 명산 정보</ul>
          <ul class="nav-item">게시판</ul>
        </li>
      </div>
    </div>
  </header>
