<!DOCTYPE html>
<html lang="en">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel='stylesheet' href='/stylesheets/font.css' />
  <link rel='stylesheet' href='/stylesheets/main.css' />
  {% block css %}
  {% endblock %}
</head>

<body>
  {%include "header.html"%}

  {% block content %}
  {% endblock %}

  {%include "footer.html"%}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('loginError')) {
        alert(new URL(location.href).searchParams.get('loginError'));
      }
    };
  </script>
  {% block script %}
  {% endblock %}
</body>

</html>