{% extends "layout.html" %}
{% block css %}
{% endblock %}
{% block content %}
<section id="login-form">
    <form method="POST">
        <div id="int-area">
            <input type="text" name="id" id="input-id" autocomplete="off">
            <label for="id">USER NAME</label>
        </div>
        <div id="int-area">
            <input type="password" name="pw" id="input-pw" autocomplete="off">
            <label for="pw">PASSWORD </label>
        </div>
        <div id="btn-area">
            <button type="button" onclick="">LOGIN</button>
        </div>
    </form>
    <div id="caption">
        <p>
            <a href="/findinfo" onclick="">Forgot password</a><br>
            <a href="/signup">Sign up</a>
        </p>
    </div>
</section>
{% endblock %}
{% block script %}
{% endblock %}