{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/stylesheets/main-community.css">
{% endblock %}

{% block content %}
<section class="community-box">
    <header><h1>커뮤니티</h1></header>
    <form id="hashtag-form" action="/hashtag">
        <input type="text" name="hashtag" placeholder="태그 검색">
        <button class="btn">검색</button>
      </form>
    <table>
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회</th>
                <th>댓글 수</th>
                <!-- <th>추천</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>글이 없습니다.</td>
            </tr> -->
            {% for post in posts %}
            <input type="hidden" value="{{posts.User.id}}" class="posts-user-id">
            <input type="hidden" value="{{posts.id}}" class="posts-id">
            <tr class="twit">
                <td></td>
                <td><div class="posts-CommunityPost-title">{{posts.CommunityPost.title}}</div></td>
                <td><div class="posts-User-nick">{{posts.User.nick}}</div></td>
                <td><div class="posts-CommunityPost-createAt">{{posts.CommunityPost.createAt}}</div></td>
                <td>10.21</td>
                <td>21</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
<!-- 
{% block script %}
{% endblock %} -->