{% extends "layout.html" %}
{% block content %}
<div id="join-form-body">
    <div class="join-form-title">Resistration</div>
    <!-- action에 페이지 주소입력 -->
    <form method="POST" class="join-form-container">
        <fieldset class="join-form-field">
            <div class="input-container">
                <label for="username">USER ID<small style="color: red;">*</small></label><br>
                <input class="input-box" type="text" id="user-id" name="username" placeholder="Enter Your ID"
                    onchange="checkId()" required>
                <!--유효성 검사 후 잘못되었을때 경고 문자-->
                <text id="wrongid" class="wrong-message" style="color: red; font-size: small;"></text>
            </div>
            <div class="input-container">
                <label for="userpw">Password<small style="color: red;">*</small></label><br>
                <input class="input-box" type="password" id="user-pw" name="userpw" placeholder="Enter Your Password"
                    onchange="checkPw()" required>
                <!--유효성 검사 후 잘못되었을때 경고 문자-->
                <text id="wrongPw" class="wrong-message" style="color: red; font-size: small;"></text>
            </div>
            <div class="input-container">
                <input class="input-box" type="password" id="user-pw-confirm" name="reUserpw"
                    placeholder="Confirm Password" onchange="reCheckPw()" required><br>
                <!--유효성 검사 후 잘못되었을때 경고 문자-->
                <text id="wrongRePw" class="wrong-message" style="color: red; font-size: small;"></text>
            </div>
            <div class="input-container">
                <label for="name">Name<small style="color: red;">*</small></label><br>
                <input class="input-box" type="text" id="user-name" name="name" placeholder="Enter Your Name"
                    onchange="checkName()" required>
                <!--유효성 검사 후 잘못되었을때 경고 문자-->
                <text id="wrongName" class="wrong-message" style="color: red; font-size: small;"></text>
            </div>

            <div class="input-container">
                <label for="birthdate">Date of Birth</label><br>
                <input class="input-box" type="date" id="user-birth" name="birthdate"><br>
            </div>
            <div class="input-container">
                <label for="useremail">Email</label><br>
                <input class="input-box" type="email" id="user-email" name="useremail" placeholder="Enter Your Email"
                    onchange="checkMail()">
                <!--유효성 검사 후 잘못되었을때 경고 문자-->
                <text id="usereMail" class="wrong-message" style="color: red; font-size: small;"></text>

            </div>
        </fieldset>
        <input type="button" value="Sign Up" id="signUp" onclick="">
    </form>
    <script src="javascripts/signupcheck.js"></script>
</div>
{% endblock %}