{% extends "layout.html" %}

{% block css %}
{% endblock %}

{% block content %}
<section class="community-view-box">
    <header>
        <h1>커뮤니티</h1>
        <a href="/community">목록으로</a>
        <a href="/edit/{{communityTwits.id}}">수정하기</a>
        <a href="/view/{{communityTwits.id}}/delete">삭제하기</a>
    </header>
    <body>
        <div>
            <p>{{communityTwits.id}}</p> <!-- 확인 차 넣은 수 -->
            <p>{{communityTwits.title}}</p>
            <p><div class="board-nick">{{communityTwits.User.nick}}</div></p>
            <p><div class="board-createdAt">{{communityTwits.createdAt}}</div></p>
            <p>조회수</p>
        </div>
        <div>
            <p><div class="board-content">{{communityTwits.content}}</div></p>
            <img style="width: 200px;" src="{{ communityTwits.img }}" alt="섬네일">
        </div>
    </body>
    <footer>
        <p>댓글 수</p>
    </footer>
</section>
{% endblock %}

{% block script %}
{% endblock %}