.picture-search {
    border: none;
}

.btn {
    border: none;
    font-family: Cafe24SsurroundAir, sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: beige;
}

.picture-uploads {
    text-align: none;
}