#footer-container {
  margin-top: 3vw;
  background: grey;
  color: white;
  height: 60px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
<<<<<<< HEAD
  height: 130px;
=======
  height: 200px;
}
nav {
  padding: 2vw;
  text-align: left;
  line-height: 2vw;
  color: rgba(201, 201, 201, 0.733);
}

@media screen and (max-width: 800px) {
  nav {
    line-height: 4vw;
  }
>>>>>>> soyunCss1014Test
}
