#footer-container {
  margin-top: 3vw;
  background: grey;
  color: white;
  height: 60px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 130px;
}
nav {
  padding: 2vw;
  text-align: left;
  line-height: 2vw;
  color: rgba(201, 201, 201, 0.733);
}
