{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="mountainInfo\stylesheets\infomountain.css" />
{% endblock %} {% block content %}
<style>
  #kor-img-container {
    background-image: url("/images/kormap.png");
    width: 500px;
    height: 700px;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    margin: 0 auto;
  }

  #kor-img-container #se {
    position: absolute;
    left: 120px;
    top: 150px;
  }

  #kor-img-container #kw {
    position: absolute;
    left: 280px;
    top: 130px;
  }

  #kor-img-container #cn {
    position: absolute;
    left: 100px;
    top: 300px;
  }

  #kor-img-container #cb {
    position: absolute;
    left: 200px;
    top: 230px;
  }

  #kor-img-container #kb {
    position: absolute;
    right: 150px;
    top: 350px;
  }

  #kor-img-container #kn {
    position: absolute;
    right: 150px;
    bottom: 200px;
  }

  #kor-img-container #jb {
    position: absolute;
    left: 110px;
    bottom: 260px;
  }

  #kor-img-container #jn {
    position: absolute;
    left: 70px;
    bottom: 170px;
  }

  #kor-img-container #je {
    position: absolute;
    left: 70px;
    bottom: 20px;
  }
  #mountain-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mountain-list-summury{
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 25vw;
    justify-content: space-around;
    margin-bottom: 1em;
    border: 3px solid #55b1a3;
    padding: 1em;
  }
  .mountain-summury-img{
    position: relative;
    width: 30vw;
    height: 100%;
    border: 1px solid red;
  }
  .mountain-summury-img img{
    position: absolute;
    width: 30vw;
    max-height: 100%;

  }
  .mountain-summury-container{
    width: 30vw;
    line-height: 130%;
    height: 100%;
    border: 1px solid red;
    font-size: 2vh;
  }
  .mountain-summury-container div{
    width: 100%;
    margin-bottom: 0.5em;
  }



</style>
<section id="mountain-section">
<h1>100대명산게시판</h1>
<button class="test">테스트버튼</button>

<div id="kor-img-container">
  <button class="kor-location" id="se" type="button">서울/경기</button>
  <button class="kor-location" id="kw" type="button">강원도</button>
  <button class="kor-location" id="cb" type="button">충청북도</button>
  <button class="kor-location" id="cn" type="button">충청남도</button>
  <button class="kor-location" id="kb" type="button">경상북도</button>
  <button class="kor-location" id="kn" type="button">경상남도</button>
  <button class="kor-location" id="jb" type="button">전라북도</button>
  <button class="kor-location" id="jn" type="button">전라남도</button>
  <button class="kor-location" id="je" type="button">제주도</button>
</div>

<div id="mountain-list"></div>
</section>
{%include "footer.html"%}
{% endblock %}
{% block script %}
<script src="/mountainInfo/javascripts/APIdata.js"></script>
{% endblock %}
