{% extends "layout.html" %} {% block css %} {% endblock %} {% block content %}
<style>
  #stories-wrapper {
    margin: 20px auto;
    width: 100vw;
  }

  :root {
    --bgcolor: #fff;
  }

  body {
    background-color: var(--bgcolor);
  }

  #stories-container {
    display: flex;
    border: solid 2px #fff;
    padding: 4px 0;
  }

  .story {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
  }

  .story .profile {
    background: rgb(255, 201, 0);
    background: linear-gradient(36deg,
        rgb(255, 201, 0) 13%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%);
    padding: 5px;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .story .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: solid 5px var(--bgcolor);
  }

  .story .title {
    text-align: center;
    padding: 5px 0;
  }

  .story.active .profile {
    animation-duration: 1s;
    animation-name: story;
    animation-iteration-count: infinite;
  }

  .story .profile.empty {
    background: #ccc;
  }

  @keyframes story {
    0% {
      background: linear-gradient(36deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    10% {
      background: linear-gradient(72deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    20% {
      background: linear-gradient(108deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    30% {
      background: linear-gradient(144deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    40% {
      background: linear-gradient(180deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    50% {
      background: linear-gradient(216deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    60% {
      background: linear-gradient(252deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    70% {
      background: linear-gradient(288deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    80% {
      background: linear-gradient(324eg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    90% {
      background: linear-gradient(360deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }

    100% {
      background: linear-gradient(396deg,
          rgb(255, 255, 255) 0%,
          rgb(255, 255, 255) 25%,
          rgb(255, 201, 0) 28%,
          rgb(255, 0, 95) 73%,
          rgb(255, 9, 237) 100%);
    }
  }
</style>

<body>

  <div class="content right illustration_01">
    <h2>너도나도노드 화이팅 !!</h2>
    <p>
      '명산100'은 우리나라의 대표적인 산 100개를 오르는 프로그램 입니다.
      ‘명산100’ 프로그램은 자신을 찾아 떠나는 여정이자 도전으로, 산과 사람을
      연결하며 삶을 더욱 가치 있게 만들기 위해 노력하는 산행 프로그램입니다.
      단순히 등산 프로그램을 넘어 산을 통해 많은 사람이 인간관계를 형성하고
      소통하며 발전하는 것을 목표로 합니다.
    </p>
    <p>******************************</p>
    <p>** 날씨 api와 다른 요소 넣을 임시공간 **</p>
    <h1 id="city-name"></h1>
    <h1 id="weather"></h1>
    <img id="weather-img"></img>
    <p>******************************</p>
    <p>
      산을 중심으로 뜻 깊은 경험을 선사해줄 다양한 프로그램을 제공하고 있습니다.
      대한민국을 대표하는 100대 명산을 오르는 ‘명산 100’ 프로그램, 한국의
      백두대간을 거니는 ‘백두대간‘ 프로그램, 우리나라 대표적인 섬을 여행하는
      프로젝트인 ‘섬&산‘ 프로그램, 아름다운 산을 우리 손으로 직접 지키는
      ‘클린마운틴365’ 캠페인까지. 회원과 함께 더욱더 즐겁고 지속가능한 등산을
      위해 함께 합니다.
    </p>
  </div>
  <section class="separator">
    <div id="stories-wrapper">
      <div id="stories-container">
        <button class="story">
          <div class="profile">
            <img src="/public/images/캡처.JPG" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="/public/images/logo.png" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile empty">
            <img src="" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
        <button class="story">
          <div class="profile">
            <img src="feed1.jpg" alt="" />
          </div>
          <div class="tittle">닉넴</div>
        </button>
      </div>
    </div>
  </section>
  <div class="content left illustration_02">
    <h2>Challenge program feed</h2>
    <!-- {% for twit in twits %} -->
    <div class="img_section">
      <div class="trans_inner">
        <div id="img-layout">
          <img style="width: 150px" cols="3" src="{{twit.img}}" alt="상세이미지" />
        </div>
      </div>
    </div>
    <!-- {% endfor %} -->
  </div>
  <section class="separator">
    <h1>도전의 가치를 알며 자연과 함께하는 사람들의 커뮤니티 공간</h1>
  </section>
  <div class="content right illustration_03">
    <h2>in to the moutine board</h2>
    <div class="table-body">
      <table class="com-table">
        <thead class="table-head">
          <tr class="table-item-box">
            <th class="item-num">번호</th>
            <th class="item-title">제목</th>
            <th class="item-nick">작성자</th>
            <th>날짜</th>
            <th class="item-num">조회</th>
            <th class="item-num">댓글</th>
            <!-- <th>추천</th> -->
          </tr>
        </thead>
        <tbody class="table-body">
          {% for communityTwit in communityTwits %}
          <tr class="post table-item-box">
            <td>
              <div class="CommunityPost-title">{{communityTwit.id}}</div>
            </td>
            <td>
              <a class="tb-text" href="/view/{{communityTwit.id}}">
                <p class="tb-text-item">{{communityTwit.title}}</p>
                {% if communityTwit.img != false %}
                <!-- 사진이 없으면 보여주지 않는다. -->
                <img class="tb-img" src="{{communityTwit.img}}" alt="섬네일" />
                {% endif %}
              </a>
            </td>
            <td>
              <div class="user-nick">{{communityTwit.User.nick}}</div>
            </td>
            <td>
              <div id="com-creatAt" class="communityPost-createAt">
                {{communityTwit.createdAt}}
              </div>
            </td>
            <td>0</td>
            <td>2</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <br />
    <p>
      등산을 포함한 아웃도어 활동은 환경을 훼손하거나 오염시킬 우려가 많은
      활동입니다. 우리는 아웃도어 활동을 하며 손 쉽게 일회용 용기와 팩을
      사용하며 pet 병에 담긴 물과 음료를 마십니다. 그리고 그 흔적들은 등산하는
      도중에 손쉽게 발견할 수 있습니다. 클린마운틴은 모든 프로그램에서 가장
      우선시되는 환경활동입니다. 프로그램 참여자는 일회용품 사용을 줄이고 자신이
      가져간 쓰레기는 반드시 가져올 의무가 있습니다. 더 나아가 누군가 버린
      쓰레기를 회수하는 클린마운틴에 참여해 주시기 바랍니다.
    </p>
  </div>
</body>
{% endblock %} {% block script %}
<script src="/main/javascripts/weatherAPI.js"></script>
<script>
  /* 인스타 캐러셀 구현 */
  const stories = document.querySelectorAll("#stories-container button");

  stories.forEach((story) => {
    story.addEventListener("click", (e) => {
      stories.forEach((s) => {
        s.classList.remove("active");
      });
      if (story.querySelector(".profile").classList.contains("empty"))
        return false;

      story.classList.add("active");
    });
  });
</script>
{% endblock %}