{% extends "layout.html" %} 
{% block css %} 
<link rel="stylesheet" href="/club/stylesheets/clubupload.css">
{% endblock %} 
{% block content %}
<div id="main_container">
  <h3>인증 신규 등록</h3>
  <form id="twit-form" method="post" enctype="multipart/form-data">
    <legend>명산100 [북한산]</legend>
    <h5>지금 등록 가능한 인증지 입니다.</h5>
    <div class="post_form_container">
      <div class="title">
        NEW POST
        <div class="img-preview">
          <div class="upload">
            <div id="img-upLoadBtn" for="img">
              <div class="post_btn" for="img">
                  <img id="img-preview" src="" style="display: none" width="200" alt="미리보기" required/>
                  <input id="img" type="file" accept="image/*" />
              </div>
            </div>
          </div>
        </div>
        <input id="img-url" type="hidden" name="url" /><br />
      </div>
    </div>
    <div class="rating-wrap">
      <p>인증지 평가</p>
      <div class="center">
        <fieldset class="rating">
          <div class="star-widget">
            <input type="radio" name="rate" id="rate-5" />
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4" />
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3" />
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2" />
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1" />
            <label for="rate-1" class="fas fa-star"></label>
          </div>
        </fieldset>
      </div>
      <h4 id="rating-values"></h4>
      <div class="input-group">
        <p>도전내용</p>
        <textarea id="twit" name="content" maxlength="100" cols="50"
         rows="5" placeholder="100자 내 도전내용을 작성해주세요."></textarea>
        <textarea type="text" name="hashtag" id="text_field" cols="50" rows="5"
          placeholder="#태그명을 통해서 검색 태그를 등록 할 수 있습니다.   예시: #북한산 #뷰맛집 #등린이"
        ></textarea>
      </div>
      <button id="twit-btn" type="submit" class="btn">인증하기</button>
    </div>
  </form>
</div>
{% endblock %}
{% block script %}
<script src="/club/javascripts/clubupload.js"></script>
{% endblock %}
