h3 {
  font-size: 1.2em;
  margin: 1.125em 0;
  margin-left: 20px;
}

#twit-form h4 {
  margin-top: 5vw;
  margin-left: 20vw;
}
#twit-form h5 {
  margin-top: 1vw;
  font-size: 0.8em;
  margin-left: 20vw;
}

.post_form_container {
  max-width: 60vw;
  max-height: 100vw;
  margin: 0 auto;
}

.post_form {
  padding: 4vw;
  max-width: 75vw;
  max-height: 150vw;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  margin: 0 0 10px;
}

.post_form .title {
  margin: 0 10px 40px;
  font-weight: 400;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
}

.post_form .img-preview {
  margin-bottom: 50px;
  margin-top: 40px;
}

.post_form .preview .upload {
  max-width: 50vw;
  height: 150vw;
  border: 1px solid #e6e6e6;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.file-input-div {
  position: relative;
  overflow: hidden;
}

.file_input_hidden {
  position: relative;
  opacity: 0;
}

.plus_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
  border: 1px solid #55b1a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus_icon span {
  position: absolute;
  display: block;
  width: 2px;
  height: 30px;
  background: #55b1a3;
}

.plus_icon span:nth-child(2) {
  transform: rotate(90deg);
}

.click_file p {
  /* width: 200px;
  height: 200px;
  margin: 500px; */
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 100%;
}
.post_form p {
  margin-bottom: 20px;
}

.post_form_container #img {
  width: 50vw;
  height: 100vw;
  margin-right: 5%;
  margin-top: 500px;
  display: block;
  align-items: center;
}

.input-group {
  margin-left: 12vw;
}

#twit-btn {
  margin-top: 7vh;
  margin-left: 35%;
  font-size: 15px;
  font-weight: bold;
  background: #55b1a3;
  width: 15vw;
  height: 3vw;
  padding: 5px;
  margin-bottom: 10vh;
  text-align: center;
  text-decoration: none;
}

/* 별점기능 */
.rating-wrap {
  margin-top: 10vh;
  margin-left: 12vw;
}

textarea {
  width: 30vw;
  overflow: visible;
}

.rating {
  display: flex;
  padding: 0;
  margin: 0;
}

.rating li {
  list-style-type: none;
}

.rating-item {
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 2em;
  color: rgb(255, 166, 0);
}

/* 초기 꽉찬별 */
.rating-item::before {
  content: "\2605";
}

.rating-item.active ~ .rating-item::before {
  content: "\2606";
}

.rating:hover .rating-item::before {
  content: "\2605";
}

.rating-item:hover ~ .rating-item::before {
  content: "\2606";
}
