@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --title-font-size: 3em;
  --btn-main-font: Cafe24SsurroundAir;
  --btn-font-family: Cafe24SsurroundAir;
  --search-bg-color: white;
  --btn-radius: 10px;
  --btn-height: 1vw;
  --btn-bg-height: 2.5vw;
  --search-width: 15vw;
  --search-btn-width: 2vw;
  --search-bg-width: 10vw;
  /* 게시물 */
  --pg-border-color: #bababa;
  /* --pg-width-sz: 10vw;
  --pg-hight-sz: 10vw; */
  --pg-margin-sz: 3vw;
  --pg-padding-sz: 4em;
}

h3 {
  font-size: 1.2em;
  margin-top: 3vw;
}
h4 {
  font-size: 0.9em;
  margin: 1.313em 0;
}
h5 {
  font-size: 0.8em;
  margin: 1.313em 0;
}
h6 {
  font-size: 1em;
  margin: 0.75em 0;
}
/* P {
  font-size: 0.75em;
  margin: 0.75em 0;
} */
/* 상단 */
.feed-header {
  text-align: center;
}

.feed-title {
  font-size: var(--title-font-size);
  font-weight: bolder;
  color: var(--btn-main-font), sans-serif;
}

/* 태그 검색 */
.tag-search {
  border: transparent;
  width: var(--search-bg-width);
  height: var(--btn-height);
  border-radius: var(--btn-radius);
  font-size: 1vw;
  font-family: var(--btn-font-family), sans-serif;
  padding-left: 1em;
  -webkit-box-shadow: 0 0 0px 1000px var(--search-bg-color) inset !important;
  -webkit-text-fill-color: var(--btn-bg-color) !important;
}
/* 
.fake_field {
  background-color: var(--search-bg-color);
  height: var(--btn-bg-height);
  width: var(--search-width);
  border-radius: 8px;
  position: absolute;
  right: 2vw;
} */

input:focus {
  outline: none;
}

.tag-search-btn .fa-search {
  width: var(--search-btn-width);
  height: var(--btn-height);
  font-size: 0.9vw;
}

.tag-search-btn {
  position: relative;
  /* display: inline-block; */
  background-color: var(--search-bg-color);
  right: 0.01em;
}

.tag-search-btn:hover {
  cursor: pointer;
}

.container {
  width: 100%;
}

.tag-container {
  width: 39vw;
  height: 4.125vw;
  margin-left: 7.52vw;
  display: center;
  border: 2px solid #ccc;
  padding: 4px;
  border-radius: 5px;
  display: flex;
}

#hashtag-form {
}

.tag-container .tag {
  padding: 5px;
  border: 1px solid rgb(184, 202, 184);
  margin: 1px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  background: #cfe4cf;
  color: rgb(96, 114, 105);
  cursor: default;
}
.tag span {
  font-size: 12px;
  margin-left: 5px;
}
.tag-container input {
  width: 24.715vw;
  height: 3.12vw;
  margin-left: 4.125vw;
  flex: 1;
  font-size: 16px;
  padding: 1px;
  outline: none;
  border: 0;
}

/* 본문 */
/* 사진 업로드 아이콘 */
.picture-uploads {
  text-align: none;
  position: fixed;
  right: 6vw;
  bottom: 5vw;
  font-size: 2.5vw;
  background-color: white;
  padding: 0.2em;
  border-radius: 50%;
}

.picture-uploads:hover {
  color: black;
}
/* 
.uploads-btn {
  background-color: transparent;
  padding: 1vw;
  font-size: 1.2vw;
  display: block;
  border-color: transparent;
} */

.black {
  display: block;
}

/* 사진 게시물 */
.twit {
  border: 1px solid #999;
  width: 18vw;
  height: 15vw;
  margin: 3px;
  padding: 2px;
  display: inline-block;
  border-radius: 7px;
}

.twit-author {
  background: #000;
}

.twit-img img {
  display: flex;
}

.like,
.unlike {
  background-color: transparent;
  border-color: transparent;
  font-size: 15px;
}

.picture-search {
  border: none;
  padding: 1em 15%;
}

#feed-btn {
  border: none;
  background-color: #fff;
  padding: 5px;
  margin-left: 25vw;
  text-decoration: underline;
  text-shadow: 1px 1px 1px rgb(96, 114, 105);
  /* font-family: Cafe24SsurroundAir, sans-serif; */
}

/* 위 수정 전 css 아래 수정중 css */
.feed-container {
  padding: 4.125vw 20vw;
  max-width: 100vw;
  height: 100vw;
}

.search_field {
  text-align: center;
}

.twit {
  display: inline-block;
}

#feed-btn a {
  position: relative;
  display: inline-block;
  width: 14.512em;
  padding: 1em 1em;
  color: #09492b;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 1.175rem;
  overflow: hidden;
  transition: 0.2s;
  border: none;
  border-radius: 0%;
  margin-top: 10vh;
}

#feed-btn a:hover {
  color: #09492b;
  background: #a8dfd6;
  box-shadow: 0 0 10px #a8dfd6, 0 0 40px #a8dfd6, 0 0 80px #a8dfd6;
  transition-delay: 1s;
}

#feed-btn a span {
  position: absolute;
  display: block;
}

#feed-btn a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a8dfd6);
}

#feed-btn a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

#feed-btn a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a8dfd6);
}

#feed-btn a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#feed-btn a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a8dfd6);
}

#feed-btn a:hover span:nth-child(2) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#feed-btn a span:nth-child(4) {
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a8dfd6);
}

#feed-btn a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
