{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="/board/stylesheets/main-community.css">
{% endblock %}

{% block content %}
<section class="com-box">
  <header class="com-header">
    <h1 class="com-title">게시판</h1>
    <a class="com-write" href="/write">임시 글쓰기란 (꼭! 로그인할 것)</a>
    <form id="search-form" action="/search">
      <select class="com-select" name="select" id="select">
        <option value="titleContent" selected>제목/내용</option>
        <option value="title">제목</option>
        <option value="content">내용</option>
        <option value="user">작성자</option>
      </select>
      <input type="text" name="search" placeholder="제목 검색">
      <button class="btn">검색</button>
      <input id="select-data" type="hidden" name="title">
    </form>
  </header>
  <body>
    <table class="com-table">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>날짜</th>
          <th>조회</th>
          <th>댓글 수</th>
          <!-- <th>추천</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
            <td>글이 없습니다.</td>
        </tr> -->
        {% for communityTwit in communityTwits %}
        <tr class="post">
          <td><div class="posts-CommunityPost-title">{{communityTwit.id}}</div></td>
          <td>
            <a href="/view/{{communityTwit.id}}"><p>{{communityTwit.title}}</p>
            <img class="tb-img" src="{{communityTwit.img}}" alt="섬네일"></a>
          </td>
          <td><div class="posts-User-nick">{{communityTwit.User.nick}}</div></td>
          <td><div class="posts-CommunityPost-createAt">{{communityTwit.createdAt}}</div></td>
          <td>10.21</td>
          <td>21</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
  <footer>
    {% if allBoard < 1 %}
    {% else %}
      <select name="select-page" id="select-page">
        <option value="5-page">5</option>
        <option value="10-page">10</option>
        <option value="15-page">15</option>
      </select>
    {% endif %}
    <ul>
      {% if allBoard < 1 %}
        <h1>현재 게시글이 없습니다.</h1>
      {% else %}
        <li class="page-num"><a class="page-link" href="/community/page?offset=0&limit=2">첫 페이지</a></li>
        {% if nowPage < 3 %}
          {% if maxPage < 5 %}
            {% for i in range(2, maxPage) -%}
              <li class="page-num"><a class="page-link" href="/community/page?offset={{2*(i-1)}}&limit=2">{{i}}</a></li>
            {%- endfor %}
          {% else %}
            {% for i in range(2, 5) -%}
              <li class="page-num"><a class="page-link" href="/community/page?offset={{2*(i-1)}}&limit=2">{{i}}</a></li>
            {%- endfor %}
            ......
          {% endif %}
        {% elseif nowPage < (maxPage-3) %}
          {% if nowPage >= 3 or maxPage < 6 %}
            ......
            <li class="page-num"><a class="page-link" href="/community/page?offset={{(nowPage-1)*2}}&limit=2">{{nowPage - 1}}</a></li>
            <li class="page-num"><a class="page-link" href="/community/page?offset={{(nowPage-1)*2}}&limit=2">{{nowPage}}</a></li>
            <li class="page-num"><a class="page-link" href="/community/page?offset={{nowPage*2}}&limit=2">{{nowPage + 1}}</a></li>
            <li class="page-num"><a class="page-link" href="/community/page?offset={{(nowPage+1)*2}}&limit=2">{{nowPage + 2}}</a></li>
            <li class="page-num"><a class="page-link" href="/community/page?offset={{(nowPage+2)*2}}&limit=2">{{nowPage + 3}}</a></li>
            ......
          {% endif %}
        {% elseif nowPage >= (maxPage-3) %}
          {% if maxPage < 5 %}
            {% for i in range(2, maxPage) -%}
              <li class="page-num"><a class="page-link" href="/community/page?offset={{2*(i-1)}}&limit=2">{{ i }}</a></li>
            {%- endfor %}
          {% else %}
          ......
            {% for i in range((maxPage-3), maxPage) -%}
              <li class="page-num"><a class="page-link" href="/community/page?offset={{2*(i-1)}}&limit=2">{{ i }}</a></li>
            {%- endfor %}
          {% endif %}
        {% endif %}
          <li class="page-num"><a class="page-link" href="/community/page?offset={{(maxPage-1)*2}}&limit=2">마지막 페이지</a></li>
      {% endif %}
    </ul>
  </footer>
</section>
{% endblock %}

{% block script %}
<script src="/board/javascripts/main-community.js"></script>
{% endblock %}