{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/board/stylesheets/view-community.css">
{% endblock %}

{% block content %}
<section class="community-view-box">
    <div class="community-view-title">
        <h1>커뮤니티</h1>
        <div class="community-a-click">
        <a href="/community/page?offset=0&limit=5">목록으로</a>
        <a href="/edit/{{communityTwits.id}}">수정하기</a>
        <a href="/view/{{communityTwits.id}}/delete">삭제하기</a>
       </div>
    </div>

    <body>
        <div>
            <i class="fas fa-thumbs-up"></i>
            <i class="far fa-thumbs-up"></i>
          <div class="communitytwit-contents-title">
            <p>{{communityTwits.id}}</p> <!-- 확인 차 넣은 수 -->
            <p>{{communityTwits.title}}</p>
            <p>
            <div class="board-nick">{{communityTwits.User.nick}}</div>
            </p>
            <p>
            <div class="board-createdAt">{{communityTwits.createdAt}}</div>
            </p>
            <p>조회수 : {{communityTwits.views}}</p>
          </div>
        </div>
        <div>
            <p>
            <div class="board-content">{{communityTwits.content}}</div>
            </p>
            {% if communityTwits.img != false %}
            <!-- 사진이 없으면 보여주지 않는다. -->
            <img style="width: 200px;" src="{{ communityTwits.img }}" alt="섬네일">
            {% endif %}
        </div>
    </body>
    <footer>
        <p>댓글 수</p>
    </footer>
</section>
{% endblock %}

{% block script %}
{% endblock %}